article
    height: 100vh
    width: 100%

.header
    height: 100vh
    width: 100%

.footer
    height: 100vh
    width: 100%

.header
    background-color: rgba(244, 238, 224, 1)

.main-info
    background-color: rgba(110, 32, 71, 1)

.price-table
    background-color: rgba(163, 29, 64, 1)

.map
    background-color: rgba(220, 35, 40, 1)

.gallery
    background-color: rgba(236, 78, 36, 1)

.footer
    background-color: rgba(253, 208, 65, 1)

.rocket_IMG
    width: 200px
    transform: rotate(-45deg)
    position: absolute
    bottom: 0
    left: 43.5%
